@using ArmwrestlingApp.ViewModels

@model ArmwrestlingApp.ViewModels.Competition.CompetitionDetailsViewModel

@{
    var competition = Model;
}

<h2>@competition.Name</h2>
<h3>📍 @competition.Location &nbsp;&nbsp; 📅 @competition.Date.ToShortDateString() &nbsp;&nbsp; 🏆 @competition.Type</h3>

<div class="category-tiles">
    @foreach (var category in Model.Categories)
    {
        <div class="category-tile">
            <h4>@category.Name</h4>
            <p>@category.ParticipantsCount participants</p>
            <a asp-page="/CategoryDetails" asp-route-id="@category.Id" class="btn btn-primary">View Competitors</a>
        </div>
    }
</div>